@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.interface {
  display:flex;
  flex-wrap: wrap;
}

.savedPlaces {
  padding: 0% 1%
}