@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  overflow-y: auto;
  padding-left: 1em;
}

.interface {
  display:flex;
  flex-wrap: wrap;
}

.savedPlaces {
  padding: 0% 1%;
  overflow-y: auto;
}

.savedPlace {
  margin: 1em 0em;
}